body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTO4PN-UaNWzXKvnY5PO9w9_lmDOIsc0uN8ig&usqp=CAU");
}

#head_h1 {
    color: white;
    font-size: 50px;
    font-family: 'Reggae One', cursive;
}

#head_img {
    width: 10%;
}

#main {
    border: solid 10px white;
    margin-left: 16%;
    margin-right: 15%;
    backdrop-filter: blur(5px);
}

#oplabel {
    color:white;
    font-family: 'Caveat', cursive;
    margin-bottom: 10%;
    font-size: 60px;
}

#roomname {
    margin-top: -80px;
    width: 30%;
    border-radius: 5%;
    height: 30px;
}

#info {
    color: white;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
}

#info2 {
    color: white;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

#output {
    color: white;
    font-family: 'Caveat', cursive;
    border: 10px white solid;
}

#welcome {
    color: white;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

#add {
    background-color: white;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}